# Dependencies
node_modules/
.pnp
.pnp.js

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Env
.env
.env.local
.env.*.local

# Firebase service account keys
*firebase-adminsdk*.json

# Next.js
.next/
out/

# Build
dist/
build/

# Misc
.DS_Store
*.log
npm-debug.log*
.pnp.*

# Prisma
prisma/migrations/
